<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--repository폴더의 mapper와 연결-->
<mapper namespace="com.spring_review.todo.repository.UserMapper">
    <!--join을 할 때는 Map 형식이 필요하다.    -->
    <resultMap id="userResultMap" type="com.spring_review.todo.entity.User">
        <id property="userId" column="user_id" />  <!--표기법이 다름에 유의 -->
        <result property="email" column="email" />
        <result property="name" column="name" />
        <result property="password" column="password" />
        <result property="provider" column="provider" />

    </resultMap>

    <insert id="saveUser" parameterType="com.spring_review.todo.entity.User">
        insert into user_tb
        values(0, #{email}, #{name}, #{password}, #{provider})
    </insert>

    <select id="findUserByEmail"
            parameterType="string"
            resultMap="userResultMap">
        select
            user_id,
            email,
            name,
            password,
            provider
        from
            user_tb
        where
            email = #{email}
    </select>

    <select id="getUserCountByEmail"
            parameterType="string"
            resultType="integer">
        select
            count(*)
        from
            user_tb
        where
            email = #{email}
    </select>
</mapper>